
* {
    padding: 0;
    margin: 0;
}

body{
    /* height: 100vh; */
    background: #584040;
    /* display: flex; */
    align-items: center;
    background-image: url(./assets//background.svg);    
    /* background: radial-gradient(closest-side, #1b178c, #221769, #141414); */

}

.contenedor {
    width: 1140px;
    height: 380px;
    margin: 0 auto;
    
    box-shadow: 0px 4px 8px rgb(122, 122, 122);
    
    position: relative;

    background: linear-gradient(#b7d6c7, transparent) #ffe2d1;/*linear-gradient(#90ebff, white);*/
    transition: background-color 1s linear;
    overflow: hidden;
}

.mediodia {
    background-color: #ffdcf3;
}

.tarde {
    background-color: #ffadad;
}

.noche {
    background-color: #aca8c7;
}

.vikingo {
    width: 84px;
    height: 84px;

    position: absolute;
    bottom: 22px;
    left: 42px;
    z-index: 2;

    background: url(assets/vikingoMovimiento.png) repeat-x 0px 0px;
    background-size: 336px 104px;
    background-position-x: 0px;

}

.vikingo-corriendo {
    animation: animarvikingo 0.25s steps(2) infinite;
}
.vikingo-estrellado {
    background-position-x: -252px;
}

.dragon {
    width: 250px;
    height: 120px;
    position: absolute;
    bottom: -4%;
    right: -3%;
    z-index: 100;

    background: url(assets//dragon.png);
    background-size: 236px 104px;
    background-position: center;
    background-position-x: 0px;
}

.suelo {
    width: 200%;
    height: 42px;

    position: absolute;
    bottom: 0;
    left: 0;

    background: url(assets//suelo.png) repeat-x 0px 0px;
    background-size: 50% 42px;

}

.fuego{
    width: 56px;
    height: 80px;

    position: absolute;
    bottom: 16px;
    left: 600px;
    z-index: 100;

    background: url(assets//fuegoact1.png  ) no-repeat;
    background-position: center;
    background-size: cover;
}
.fuego2{
    width: 108px;
    height: 76px;

    background: url(assets//fuegoact2.png) no-repeat;
    background-position: center;
    background-size: cover;
}

.nube{
    width: 92px;
    height: 26px;

    position: absolute;
    z-index: 0;

    background: url(assets//nube.png) no-repeat;
    background-size: 92px 26px;
}

.score{
    width: 100px;
    height: 30px;

    position: absolute;
    top: 5px;
    left: -25px;
    z-index: 10;

    color: #d48871;
    font-family: Verdana;
    font-size: 30px;
    font-weight: bold;
    text-align: right;
}

.game-over {
    display: none;

    position: absolute;
    width: 100%;


    text-align: center;
    color: #7e928b;
    font-size: 30px;
    font-family: Verdana;
    font-weight: 700;
}

.boton{
    padding: 10px;
    border-radius: 10px;
    background-color: #7e928b;
    color: #584040;
    border: none;
}
.boton:hover{
    transform: scale(1.05);
    background-color: #584040;
    color: #fff;
}

@keyframes animarvikingo{
    from{
        background-position-x: -84px;
    }
    to{
        background-position-x: -252px;
    }
}